# Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and 
salary filter. 
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs 
The task will be done as shown in the below steps: 
1. first get the web page https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field. 
3. Then click the search button. 
4. Then apply the location filter and salary filter by checking the respective boxes 
5. Then scrape the data for the first 10 jobs results you get. 
6. Finally create a dataframe of the scraped data. 
Note: All of the above steps have to be done in code. No step is to be done manuall

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome()

In [3]:
# opening the naukri page on automated chrome browser 

driver.get("https://www.naukri.com/")

In [4]:
# entering designation and location as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [5]:
location= driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
# Scraping job title from the given page 
job_title = []
title_tags = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
    

# Scraping job location from the given page 

job_location = []
location_tags = driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
    
# Scraping company name from the given page 
company_name = []
name_tags = driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in name_tags:
    company=i.text
    company_name.append(company)
    
# Scraping job experience from the given page

experience_required = []

experience_tags = driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [9]:
#check the length of each element

print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [10]:
# Create dataframe
df=pd.DataFrame({})
df['Title']=job_title[:10]
df['Location']=job_location[:10]
df['Company_name']=company_name[:10]
df['Experience']=experience_required[:10]

In [11]:
df

,Title,Location,Company_name,Experience
0,"Senior Data Scientist, Reporting","Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Coursera,6-7 Yrs
1,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,3-6 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kashsam Data Solutions,3-7 Yrs
3,NLP Data Scientist - Real World Data (RWD),"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Agilite Global Solutions,7-8 Yrs
4,Data Analytics-Corporate HR,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tata Communications,3-6 Yrs
5,DS - NLP Expert,"Hyderabad, Telangana, Gurugram, Haryana, Banga...",Genpact,6-11 Yrs
6,Data Scientist II,"Greater Noida, Bengaluru",Honeywell,4-6 Yrs
7,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Scienaptic Systems,2-7 Yrs
8,NLP Data Scientist - Real World Data (RWD),"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Agilite,3-8 Yrs
9,Lead MLOps Engineer,"Noida, Pune",R Systems International,5-8 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the 
job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [12]:
driver = webdriver.Chrome()

In [13]:
# opening the shine page on automated chrome browser 

driver.get("https://www.shine.com/")

In [14]:
# entering job as required in the question
jobtitle_skill = driver.find_element(By.CLASS_NAME,"form-control  ")
jobtitle_skill.send_keys('Data Analyst')

In [15]:
location= driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [17]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [18]:
# Create the empty list for each element
job_title = []
job_location = []
company_name = []
experience_required = []

In [19]:
# Scraping job title from the given page 
title_tags = driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]') 
for i in title_tags:
    if i.text is None:
        job_title.append('Not')
    else:
        job_title.append(i.text)
job_title[:10]

['Data Analyst Recruitment',
 'Data Analyst Recruitment',
 'Data Analyst (Power BI, Python, SQL)- Internal Audit do ...',
 'Clinical Data Analyst',
 'Data Analyst',
 'Data Engineer Ii',
 'Data Governance Analyst',
 'Data Analyst',
 'Data Engineer Ii',
 'Hiring For Data Analyst']

In [20]:
    
# Scraping company name from the given page 

name_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in name_tags:
    if i.text is None:
        company_name.append('Not')
    else:
        company_name.append(i.text)
company_name[:10]

['radhika enterprises',
 'radhika enterprises',
 'talent leads hr solutions pvt ltd',
 'techno endura',
 'sahast sales corporation',
 'v-tech data outsourcing',
 'white horse manpower consultancy (p...',
 'sahast sales corporation',
 'v-tech data outsourcing',
 'radhika enterprises']

In [21]:
# Scraping job location from the given page 

location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    if i.text is None:
        job_location.append('Not')
    else:
        job_location.append(i.text)
job_location[:10]

['Bangalore\n+12',
 'Bangalore\n+12',
 'Bangalore',
 'Bangalore\n+6',
 'Bangalore\n+9',
 'Bangalore\n+9',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+9',
 'Bangalore\n+12']

In [22]:
   
# Scraping job experience from the given page

experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    if i.text is None:
        experience_required.append('Not')
    else:
        experience_required.append(i.text)
experience_required[:10]

['0 to 4 Yrs',
 '0 to 4 Yrs',
 '3 to 8 Yrs',
 '0 to 1 Yr',
 '12 to 22 Yrs',
 '0 to 1 Yr',
 '5 to 8 Yrs',
 '12 to 22 Yrs',
 '0 to 1 Yr',
 '0 to 4 Yrs']

In [23]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [24]:
df=pd.DataFrame({})
df['Title']=job_title[:10]
df['Location']=job_location[:10]
df['Company_name']=company_name[:10]
df['Experience']=experience_required[:10]

In [25]:
df

,Title,Location,Company_name,Experience
0,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
1,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
2,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
3,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
4,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
5,Data Engineer Ii,Bangalore\n+9,v-tech data outsourcing,0 to 1 Yr
6,Data Governance Analyst,Bangalore,white horse manpower consultancy (p...,5 to 8 Yrs
7,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
8,Data Engineer Ii,Bangalore\n+9,v-tech data outsourcing,0 to 1 Yr
9,Hiring For Data Analyst,Bangalore\n+12,radhika enterprises,0 to 4 Yrs

# Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=F
LIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the stepsrequired during scraping should be done through code only and not manuall

In [26]:
driver = webdriver.Chrome()

In [27]:
# opening the shine page on automated chrome browser 

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [28]:
# Scraping rating from the given page 
rating=[]

rating_tags = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tags:
    ra=i.text
    rating.append(ra)
    
# Scraping rating from the given page 
review=[]

review_tags = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_tags:
    ra=i.text
    review.append(ra)

# Scraping rating from the given page 
full_review=[]

fullreview_tags = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in fullreview_tags:
    ra=i.text
    full_review.append(ra)

In [29]:
print(len(rating),len(review),len(full_review))

10 10 10

In [32]:
rating=[]
review=[]
full_review=[]

In [ ]:
# Scrap the rating_tags
start=0
end=9
for page in range(start,end):
    tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in tags:
        rating.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
    
rating[:100]

In [ ]:

# Scrap the review_tags
start=0
end=9
for page in range(start,end):
    r_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in r_tags:
        review.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()

In [ ]:
   
# Scrap the fullreview_tags
start=0
end=9
for page in range(start,end):
    fr_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fr_tags:
        full_review.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
    next_button.click()
print(full_review)

# Q4: Scrape data forfirst 100 sneakers you find whenyouvisitflipkart.com and search for “sneakers” inthe search
field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes

In [ ]:
driver = webdriver.Chrome()

In [ ]:
# opening the flipkart page on automated chrome browser 

driver.get("https://www.flipkart.com")

In [ ]:
# entering brand as required in the question
product = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
product.send_keys('sneakers')

In [ ]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button")
search.click()

In [ ]:
brand_name = []

In [ ]:
# Scraping the brand from the given page 
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    title=i.text
    brand_name.append(title)
brand_name

In [ ]:
len(brand_name)

In [ ]:
product_description = []

In [ ]:
# Scraping description from the given page 

description_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags:
    description=i.text
    product_description.append(description)
product_description

In [ ]:
len(product_description)

In [ ]:
price=[]

In [ ]:
# Scraping price from the given page 

price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    rate=i.text
    price.append(rate)
price

In [ ]:
len(price)

In [ ]:
brand_name=[]

In [ ]:
# Scraping the brands from multiple pages
start=0
end=3
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        brand_name.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [ ]:
print(brand_name[:100])

In [ ]:
product_description=[]

In [ ]:
# Scraping description from multiple pages
start=0
end=3
for page in range(start,end):
    description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description:
        product_description.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [ ]:
print(product_description[:100])

In [ ]:
price=[]

In [ ]:
# Scraping price from multiple pages
start=0
end=3
for page in range(start,end):
    rate=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in rate:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)
price[:100]

# Q5: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU
Type filter to “Intel Core i7” as shown in the below image

# Aftersetting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [ ]:
driver = webdriver.Chrome()

In [ ]:
# opening the amazon page on automated chrome browser 

driver.get("https://www.amazon.in/")

In [ ]:
brand= driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
brand.send_keys('Laptop')

In [ ]:
search=driver.find_element(By.CLASS_NAME,"nav-right")
search.click()

In [ ]:
check=driver.find_element(By.XPATH,'//i[@class="a-icon a-icon-checkbox"]')
check.click()

In [ ]:
Title=[]

In [ ]:
# Scraping title from the given page 

title_tags = driver.find_elements(By.XPATH,'//SPAN[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags:
    title=i.text
    Title.append(title)
print(Title[:10])

In [ ]:
Rating=[]

In [ ]:
# Scraping rating from the given page 

rating_tags = driver.find_elements(By.XPATH,'//*[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in rating_tags:
    ra=i.text
    Rating.append(ra)
print(Rating[:10])

In [ ]:
Price=[]

In [ ]:
# Scraping price from the given page 

price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags:
    pr=i.text
    Price.append(pr)
print(Price[:10])

# Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuote
3. Than scrap a)Quote b) Author c) Type Of Quotes

In [ ]:
driver = webdriver.Chrome()

In [ ]:
# opening the azquotes page on automated chrome browser 

driver.get("https://www.azquotes.com/")

In [ ]:
Q=[]

In [ ]:
# Scraping title from the given page 

q_tags = driver.find_elements(By.XPATH,'//*[@class="title"]')
for i in q_tags:
    title=i.text
    Q.append(title)
print(Q[:1000])

In [ ]:
Author=[]

In [ ]:
# Scraping Author from the given page 

A_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in A_tags:
    name=i.text
    Author.append(name)
print(Author[:1000])

In [ ]:
TOQ=[]

In [ ]:
# Scraping type of quote from the given page 

AOQ_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in AOQ_tags:
    name=i.text
    TOQ.append(name)
print(TOQ[:1000])

In [ ]:
Q=[]

In [ ]:
start=0
end=9
for page in range(start,end):
    qp=driver.find_elements(By.XPATH,'//*[@class="title"]')
    for i in qp:
        Q.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(3)
Q[:1000]

In [ ]:
len(Q)

In [ ]:
Author=[]

In [ ]:
start=0
end=9
for page in range(start,end):
    A_tag=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in A_tag:
        Author.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(3)
Author[:1000]

In [ ]:
len(Author)

In [ ]:
TOQ=[]

In [ ]:
start=0
end=9
for page in range(start,end):
    TO_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in TO_tag:
        TOQ.append(i.text)
    next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(3)
TOQ[:1000]

# Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name,
Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1
scrap the mentioned data and make the DataFram

In [42]:
driver = webdriver.Chrome()

In [ ]:
driver.get("https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1")

# Q8: Write a python program to display list of 50 Most expensive cars in the world
(i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap thementioned data and make the dataframe

In [35]:
driver = webdriver.Chrome()

In [38]:
driver.get("https://www.motor1.com/")

In [41]:
brand= driver.find_element(By.XPATH,'//body[@class="not-touch m1-skin-layout lightHeader hangingHeader no-lazyload-banner adgrid-ad-target"]')
brand.send_keys('50 most expensive cars')