In [1]:
#Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon

import regex as re

S_Text = 'Python Exercises, PHP exercises.'
x=re.sub("[ ,.]",":",S_Text)
x

'Python:Exercises::PHP:exercises:'

In [2]:
import pandas as pd 
import numpy as np

In [3]:
# Question 2- Create a dataframe using the dictionary below and remove everything 
#(commas (,), !, XXXX, ;, etc.) from the columns except words.

df=pd.DataFrame({'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']})


df = df['SUMMARY'].str.replace('[^a-z\s]','',regex=True)

df

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

In [4]:
# OR
df=pd.DataFrame({'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']})

pattern = r'[A-Z0-9,!:;.]'

df = df['SUMMARY'].str.replace(pattern,'',regex=True)

df

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

In [5]:
# Question 3- Create a function in python to find all words that are at least 4 characters long in a string.
# The use of the re.compile() method is mandatory.

str1 = " Hello this is dhiraj sharma from mathura up pincode 281204"

string_pattern = r"\w{4}"

regex_pattern = re.compile(string_pattern)

result = regex_pattern.findall(str1)
print(result)

['Hell', 'this', 'dhir', 'shar', 'from', 'math', 'pinc', '2812']

In [6]:
# Question 4- Create a function in python to find all three, four, and five character words in a string. 
# The use of the re.compile() method is mandatory

str1 = "Create a function in python to find all three, 123 four, and five character words in a string "

string_pattern = r"\w{3,5}"

regex_pattern = re.compile(string_pattern)

result = regex_pattern.findall(str1)
print(result)

['Creat', 'funct', 'ion', 'pytho', 'find', 'all', 'three', '123', 'four', 'and', 'five', 'chara', 'cter', 'words', 'strin']

In [7]:
# Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the 
# re.compile() method is mandatory.

import re

def remove_parentheses(strings):
    pattern = re.compile(r"\(*\)*")
    modified_strings = []
    for string in strings:
        modified_string = re.sub(pattern, "", string)
        modified_strings.append(modified_string)
    return modified_strings

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

result = remove_parentheses(sample_text)
print(result)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

In [8]:
#Question 6- Write a python program to remove the parenthesis area from the text stored in the text file 
#using Regular Expression.
#Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]





def remove_parentheses(strings):
    pattern = re.compile(r"\s*\([^)]*\)")
    modified_strings = []
    for string in strings:
        modified_string = re.sub(pattern, "", string)
        modified_strings.append(modified_string)
    return modified_strings

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

result = remove_parentheses(sample_text)
print(result)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

In [9]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.
#Sample text: “ImportanceOfRegularExpressionsInPython”


text = "ImportanceOfRegularExpressionsInPython"
print(re.findall('[A-Z][^A-Z]*',text))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [10]:
# Question 8- Create a function in python to insert spaces between words starting with numbers.
# Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython

Text= "RegularExpression1IsAn2ImportantTopic3InPython"
pattern = r'(\d+)([A-Za-z]+)'
s = re.sub(pattern, r'\2 \1',Text)
print(s)

RegularExpressionIsAn 1ImportantTopic 2InPython 3

In [11]:
# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

Text= "RegularExpression1IsAn2ImportantTopic3InPython"
s = re.sub("[A-Za-z]+",lambda group:" "+group[0]+" ",Text)
print(s.strip())

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [12]:
# Question 10- Use the github link below to read the data and create a dataframe. 
# After creating the dataframe extract the first 6 letters of each country and store in the 
# dataframe under a new column called first_five_letters.
# Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

df = pd.read_csv(r'https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [13]:
df['first_five_letter'] =df['Country'].apply(lambda x:x[:6])
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letter
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [14]:
# Question 11- Write a Python program to match a string that contains only upper and lowercase letters,
# numbers, and underscores.

pattern = r'^[a-zA-Z0-9_]+$'
string = "Hi_ThisisDhiraj123"
if re.match(pattern, string):
    print("String match the pattern")
else:
    print("String does not match the pattern")

String match the pattern

In [15]:
# Question 12- Write a Python program where a string will start with a specific number. 

string = "4545abcd"
number = 45

if string.startswith(str(number)):
    print("The string start with a specific number")
else:
    print("The string does not start with a specific number")

The string start with a specific number

In [16]:
# Question 13- Write a Python program to remove leading zeros from an IP address

ip = "256.08.098.196"
string = re.sub('\.[0]*','.', ip)
string

'256.8.98.196'

In [17]:
# Question 14- Write a regular expression in python to match a date string in the form of 
# Month name followed by day number and year stored in a text file.

Sample_text= "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."
pattern = r"\b([A-Z][a-z]+) \d{1,2}(?:st|nd|rd|th)? \d{4}\b"
matches=re.search(pattern, Sample_text)
print(matches)

<re.Match object; span=(3, 19), match='August 15th 1947'>

In [18]:
# Question 15- Write a Python program to search some literals strings in a string. 

pattern = ['fox','dog','horse']
sample = 'The quick brown fox jumps over the lazy dog.'
for i in pattern:
  if re.search(i,sample):
    print(i)             
  else:
      print("not matched")

fox
dog
not matched

In [19]:
# Question 16- Write a Python program to search a literals string in a string and also find the location 
# within the original string where the pattern occurs
#Sample text : 'The quick brown fox jumps over the lazy dog.'
#Searched words : 'fox'

pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text) 
print(match)

<re.Match object; span=(16, 19), match='fox'>

In [21]:
# Question 17- Write a Python program to find the substrings within a string.
# Sample text : 'Python exercises, PHP exercises, C# exercises'
# Pattern : 'exercises'.

text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
# match = re.findall(pattern,text)  
# print(match)                     # OR
match = re.search(pattern,text)  
print(match)

['exercises', 'exercises', 'exercises']
<re.Match object; span=(7, 16), match='exercises'>

In [24]:
# Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

for match in re.finditer(pattern, text):
    s = match.start()
    e = match.end()
    print( (text[s:e], s, e))

('exercises', 7, 16)
('exercises', 22, 31)
('exercises', 36, 45)

In [26]:
# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

from datetime import datetime
new_format = datetime.strptime("2017-12-14","%Y-%m-%d").strftime("%d-%m-%Y")
print(new_format)

14-12-2017

In [27]:
# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string.
# The use of the re.compile() method is mandatory.
# Sample Text:"01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"


sample_text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern= re.compile(r'\d+\.\d{1,2}')
result = pattern.findall(sample_text)
print(result)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [29]:
# Question 21- Write a Python program to separate and print the numbers and their position of a given string.

text = "we eat 4 chapati at a time and 123 or 541 sometime"
for m in re.finditer("\d+", text):
    print(m.group(0))
    print("Index position:", m.start())

4
Index position: 7
123
Index position: 31
541
Index position: 38

In [30]:
# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
# Sample Text: 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
# Expected Output: 950

text_string='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
numric_value = re.findall(r'\d+', text_string)
numric_value = [int(value) for value in numric_value]
largest_value = max(numric_value)
print(largest_value)

950

In [33]:
# Question 23- Create a function in python to insert spaces between words starting with capital letters.
# Sample Text: “RegularExpressionIsAnImportantTopicInPython"
# Expected Output:Regular Expression Is An Important Topic In Python

Text= "RegularExpressionIsAnImportantTopicInPython"
pattern = r'([A-Z]+)'
s = re.sub(pattern, r" \1",Text)
print(s)

 Regular Expression Is An Important Topic In Python

In [35]:
# Question 24-Python regex to find sequences of one upper case letter followed by lower case letters

text = "Ram Went to To  his home Home"
patterns = '[A-Z]+[a-z]+'
uppercase = re.findall(patterns , text)
print(uppercase)

['Ram', 'Went', 'To', 'Home']

In [37]:
# Question 25-Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
# Sample Text:"Hello hello world world"
# Expected Output: Hello hello world

Sample_Text="Hello hello world world hi hi "
pattern = r'\b(\w+)(?:\W+\1\b)+'
result=re.sub(pattern, r'\1',Sample_Text)
print(result)

Hello hello world hi

In [38]:
# Question 26- Write a python program using RegEx to accept string ending with alphanumeric character.

pattern = r'\w$'
text= " Ram does to his house number dkk123"
match = re.search(pattern, text)
print(match)
match = re.findall(pattern, text)
print(match)

<re.Match object; span=(35, 36), match='3'>
['3']

In [39]:
# Question 27-Write a python program using RegEx to extract the hashtags.
'''Sample Text: """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has 
rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output:['#Doltiwal', '#xyzabc', '#Demonetization']'''


Sample_Text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern= r'#\w+'
hastag=re.findall(pattern,Sample_Text)
print(hastag)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [40]:
# Question 28- Write a python program using RegEx to remove <U+..> like symbols
'''Check the below sample text, there are strange symbols something of the sort <U+..> all over the place.
You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>
Those who  are protesting #demonetization  are all different party leaders"
Expected Output:@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization
are all different party leaders'''


Sample_Text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

pattern = r"<U\+\w{4}>"
output_text = re.sub(pattern, "", Sample_Text)

print(output_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [65]:
 # Question 29- Write a python program to extract dates from the text stored in the text file.
 # '''Sample Text:Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
 #    Note- Store this sample text in the file and then extract dates.'''


file = open(r"C:\Assignements & HW\SQL Assignment\python\file.txt")
text = file.read()
matches = re.findall(r'\d{2}-\d{2}-\d{4}', text)
print(matches)

['12-09-1992', '15-12-1999']

In [66]:
# Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
# The use of the re.compile() method is mandatory.
# Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 
# 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
# Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList
# trimmed accordingly.

text = "The following example creates an ArrayList with a capacity of 50 elements.4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
remove = re.compile(r'\W*\b\w{2,4}\b')
print(remove.sub('', text))

 following example creates ArrayList a capacity elements.4 elements added ArrayList ArrayList trimmed accordingly.